body{
    background-color: #0000;
}
.header {
    background-image: url(1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 20px;
    height: 100vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.text{
    margin-top: 25vh;
    font-weight: 700;
}

.birthday-message {
    font-size: 20px;
    margin-bottom: 20px;
}

h1{
    font-weight: 900;
}

span{
    color: rgb(145, 197, 255);
}

.player{
    padding: 50px;
    height: auto;
}
  .wrapper{
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    background-color: #dddddd7c;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  
  .details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  }
  
  .track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  border:2px solid 	#FFFAFA;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
  }
  
  .now-playing {
  font-size: 1rem;
  }
  
  .track-name {
  font-size: 2.5rem;
  }
  
  .track-artist {
  margin-top: 5px;
  font-size: 1.5rem;
  }
  
  .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  }
  .active{
      color: black;
  }
  
  .repeat-track,
  .random-track,
  .playpause-track,
  .prev-track,
  .next-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity .2s;
  }
  
  .repeat-track:hover,
  .random-track:hover,
  .playpause-track:hover,
  .prev-track:hover,
  .next-track:hover {
  opacity: 1.0;
  }
  
  .slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #83A9FF;
  -webkit-transition: .2s;
  transition: opacity .2s;
  }
  
  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774FF;
  cursor: grab;
  border-radius: 100%;
  }
  
  .seek_slider:hover,
  .volume_slider:hover {
  opacity: 1.0;
  }
  
  .seek_slider {
  width: 60%;
  }
  
  .volume_slider {
  width: 30%;
  }
  
  .current-time,
  .total-duration {
  padding: 10px;
  }
  
  i.fa-volume-down,
  i.fa-volume-up {
  padding: 10px;
  }
  
  i,
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward,
  p {
  cursor: pointer;
  }
  .randomActive{
      color: black;
  }
  .rotate {
      animation: rotation 8s infinite linear;
  }
  @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
  }
  .loader {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader .stroke{
      background: #f1f1f1;
      height: 150%;
      width: 10px;
      border-radius: 50px;
      margin: 0 5px;
      animation: animate 1.4s linear infinite;
  }
    @keyframes animate {
      50% {
        height: 20%;
        background: #4286f4;
      }
  
      100% {
        background: #4286f4;
        height: 100%;
      }
    }
    .stroke:nth-child(1){
        animation-delay: 0s;
    }
    .stroke:nth-child(2){
      animation-delay: 0.3s;
  }
  .stroke:nth-child(3){
      animation-delay: 0.6s;
  }
  .stroke:nth-child(4){
      animation-delay: 0.9s;
  }
  .stroke:nth-child(5){
      animation-delay: 0.6s;
  }
  .stroke:nth-child(6){
      animation-delay: 0.3s;
  }
  .stroke:nth-child(7){
      animation-delay: 0s;
  }

  .about {
    min-height: 100vh;
    background-color: #558abbbe;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  
  .about img{
    max-height: 520px;
    border-radius: 20px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.362);
  }
  
  .about h1 {
    font-size: 40px;
    font-weight: 900;
    margin-top: 0;
  }
  
  .about p {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
  }
  
  .about-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 20px;
  }
  
  .about-content .text {
    flex: 1 1 calc(50% - 20px);
    margin-right: 20px;
  }
  
  .about-content .structure {
    flex: 1 1 calc(50% - 20px);
    margin-left: 20px;
  }
  
  .about-content .structure ul {
    margin-bottom: 20px;
  }
  
  .about-content .image {
    flex: 1 1 100%;
    margin-top: 20px;
  }
  
  .about-content .image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
  }

  .banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  }
  
  .aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%; /* Sesuaikan dengan rasio aspek yang diinginkan */
 
  }

  .aspect-ratio img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Agar gambar mengisi area dengan mempertahankan rasio aspek */
    top: 0px;
  }

  @media (max-width: 768px) {
    /* Gaya untuk layar dengan lebar maksimum 768px */
    .wrapper{
        border: 1px solid transparent;
        padding: 0;
      }

      .repeat-track,
  .random-track,
  .playpause-track,
  .prev-track,
  .next-track {
  padding: 20px;
  padding-bottom: 25px;
  opacity: 0.8;
  transition: opacity .2s;
  }

}
